/*colors*/
/*font-sizes*/
/*font-family*/
i {
  margin-top: 3px;
  margin-left: 2px;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#head {
  background-image: -webkit-gradient(linear, left top, right top, from(#437deb), color-stop(21%, #437deb), color-stop(21%, white), to(white));
  background-image: linear-gradient(to right, #437deb 0%, #437deb 21%, white 21%, white 100%);
  font-family: "Nunito", sans-serif;
  display: fixed;
}

#head .header .head {
  margin-top: 40px;
  margin-left: 80px;
}

#head .header .head .navs .contact a {
  color: #464444;
  text-decoration: none;
}

#head .header .head .navs .home {
  color: #437deb;
}

#head .header .head .navs .home .home-drop {
  top: 65px;
  left: 37px;
  background-color: white;
}

#head .header .head .navs li {
  font-size: 13px;
  letter-spacing: 0.03em;
  font-weight: 800;
  color: #464444;
}

#head .header .head .navs .company a {
  color: #464444;
}

#head .header .head .navs .company .home-drop {
  top: 72px;
  left: 203px;
  background-color: white;
}

#head .header .head .navs .services a {
  color: #464444;
}

#head .header .head .navs .services .home-drop {
  top: 64px;
  right: 269px;
  background-color: white;
}

#head .header .head .navs .case-studies a {
  color: #464444;
}

#head .header .head .navs .case-studies .home-drop {
  top: 59%;
  left: 56%;
  background-color: white;
}

#head .header .head .navs .blog a {
  color: #464444;
}

#head .header .head .navs .blog .home-drop {
  top: 65%;
  left: 68%;
  background-color: white;
}

.search {
  margin-left: 23px;
  margin-top: 46px;
  position: relative;
}

.fa-list-ul {
  margin-left: 14px;
}

.contact1 {
  top: 0;
  right: -400px;
  overflow-y: auto;
  height: 100%;
  z-index: 99;
  background-color: white;
}

.contact1 .times {
  color: #464444;
  font-weight: bold;
}

.contact1 .additional h4 {
  font-size: 25px;
  color: black;
  font-weight: bold;
  padding-left: 29px;
  border-bottom: 1px dotted black;
  padding-bottom: 17px;
}

.contact1 .additional a {
  font-weight: bold;
  color: black;
}

.contact1 .connect {
  text-align: left;
}

.contact1 .connect .sosial {
  padding-bottom: 10px;
}

.contact1 .connect h4 {
  color: black;
  font-weight: bold;
  padding-left: 37px;
  padding-top: 20px;
  border-bottom: 1px dotted black;
  padding-bottom: 28px;
}

.contact1 .connect .facebook {
  font-size: 30px;
  color: #1e55bd;
}

.contact1 .twitter {
  font-size: 30px;
}

.contact1 .pinterest {
  font-size: 30px;
}

.contact1 .dribbble {
  font-size: 30px;
}

.times {
  font-size: 23px;
  border-bottom: 1px dotted black;
  padding-bottom: 19px;
}

ul .email i {
  font-size: 44px;
}

ul .email p {
  font-size: 14px;
}

ul .email span {
  font-size: 10px;
}

ul .phone i {
  font-size: 44px;
}

ul .phone p {
  font-size: 14px;
}

ul .phone span {
  font-size: 10px;
}

ul .clock i {
  font-size: 44px;
}

ul .clock p {
  font-size: 14px;
}

ul .clock span {
  font-size: 10px;
}

.on {
  right: 40px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ul li .search-input-i {
  top: 48px;
  right: 19px;
}

ul li .search-input {
  top: 40px;
  right: 4px;
  border-radius: 42px;
  border-radius: 13px;
  border: 1px solid grey;
  padding: 5px;
}

ul li i {
  color: #464444;
}

ul li i .fa-search {
  margin-right: 84px;
}

/*main section 1*/
#systems {
  background-color: #f4f5f5;
}

#systems .system .data .data-science h6 {
  font-size: 38px;
  padding-top: 87px;
  font-weight: lighter;
  margin-bottom: 24px;
}

#systems .system .data .data-science h2 {
  font-size: 58px;
  font-weight: bold;
  padding-top: 13px;
  color: black;
}

#systems .system .data .data-science span {
  font-size: 15px;
  color: gray;
  line-break: 33px;
  line-height: 2;
}

#systems .system .data .getstarted {
  background-image: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background-image: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
  margin-top: 38px;
  padding: 18px 46px;
  border-radius: 33px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/*main section 2*/
#analysis .image2 img {
  margin-top: -100px;
}

#analysis .analis .image1 img {
  width: 124%;
  margin-top: 125px;
  padding-right: 91px;
}

#analysis .analis .karusele {
  margin-top: 121px;
  margin-left: 62px;
}

#analysis .analis .karusele .karusel .item {
  background: #fdfdfd;
  border-bottom: 5px solid #4964ea;
  border-radius: 19px;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
  padding-bottom: 30px;
}

#analysis .analis .karusele .karusel .item .icon i {
  font-size: 82px;
  color: #5452cc;
  margin: 15px;
}

#analysis .analis .karusele .karusel .item h3 {
  font-family: "Nunito",sans-serif;
  font-weight: bolder;
  margin-left: 24px;
  margin-bottom: 35px;
}

#analysis .analis .karusele .karusel p {
  color: gray;
  font-size: 15px;
  margin-left: 26px;
  line-height: 2;
  font-family: "Nunito", sans-serif;
}

#analysis .analis .karusele .karusel .bottom {
  border: 1px solid #e7e7e7;
  color: #437eeb;
  padding: 16px 25px;
  border-radius: 33px;
  margin-bottom: 9px;
  margin: auto;
  margin-top: 10px;
  width: 62%;
}

#analysis .analis .karusele .karusel .bottom:hover {
  background: -webkit-gradient(linear, left top, right top, from(#437eeb), to(#1e55bd));
  background: linear-gradient(90deg, #437eeb 0%, #1e55bd 100%);
}

#analysis .analis .karusele .karusel .bottom:hover a {
  color: white;
  text-decoration: none;
}

/*main section 3*/
#about-us {
  background-color: #f4f7fc;
}

#about-us .about {
  margin-top: 85px;
}

#about-us .about h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: #437eeb;
  font-size: 20px;
  position: relative;
  z-index: 1;
  text-align: center;
}

#about-us .about h2 {
  color: #232323;
  font-weight: 700;
  padding-left: 131px;
  margin-bottom: 0;
  font-size: 36px;
  text-align: center;
}

#about-us .about p {
  margin-left: 83px;
  margin-top: 44px;
  color: grey;
  text-align: center;
  font-size: 15px;
  line-height: 2;
}

#about-us .center-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 60px 120px;
}

#about-us .center-tab ul li .active {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background-image: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
  position: relative;
}

#about-us .center-tab ul li .active::after {
  position: absolute;
  left: 50%;
  bottom: -24px;
  content: "";
  height: 10px;
  width: 10px;
  border: 2px solid #1e55bd;
  margin-left: -5px;
  border-radius: 50%;
}

#about-us .center-tab ul li .active:before {
  position: absolute;
  left: 50%;
  bottom: -15px;
  content: "";
  height: 15px;
  width: 1px;
  background: #1e55bd;
}

#about-us .center-tab ul li a {
  color: #5f5959;
  font-weight: 600;
  height: 44px;
  width: 176px;
  text-align: center;
  font-weight: 700;
}

#about-us .tab-content .tab-pane .research {
  margin-left: 57px;
  margin-right: 106px;
  margin-top: 85px;
}

#about-us .tab-content .tab-pane .research .row {
  padding: 50px;
  background: #ffffff;
  border-top: 3px solid #437eeb;
  -webkit-box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
          box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
}

#about-us .tab-content .tab-pane .research .main {
  max-width: 44%;
}

#about-us .tab-content .tab-pane .research .main h3 {
  padding-bottom: 27px;
}

#about-us .tab-content .tab-pane .research .main p {
  color: #949090;
  margin-bottom: 50px;
}

#about-us .tab-content .tab-pane .research .main .button {
  border: 1px solid #e7e7e7;
  color: #437eeb;
  padding: 16px 35px;
  border-radius: 33px;
  margin-bottom: 9px;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
  width: 60%;
}

#about-us .tab-content .tab-pane .research .main .button a i {
  padding-right: 4px;
}

#about-us .tab-content .tab-pane .research .main .button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background-image: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
}

#about-us .tab-content .tab-pane .research .main .button:hover a {
  color: white;
  text-decoration: none;
}

#about-us .tab-content .tab-pane .research .image3 {
  text-align: center;
}

#about-us .tab-content .tab-pane .research .image3 img {
  max-width: 85%;
}

#about-us .design {
  margin-left: 57px;
  margin-right: 106px;
  margin-top: 85px;
}

#about-us .design .row {
  padding: 50px;
  background: #ffffff;
  border-top: 3px solid #437eeb;
  -webkit-box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
          box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
}

#about-us .design .row .main1 {
  max-width: 44%;
}

#about-us .design .row .main1 h3 {
  padding-bottom: 27px;
}

#about-us .design .row p {
  color: #949090;
  margin-bottom: 50px;
}

#about-us .design .button {
  border: 1px solid #e7e7e7;
  color: #437eeb;
  padding: 16px 35px;
  border-radius: 33px;
  margin-bottom: 9px;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
  width: 60%;
}

#about-us .design .button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background-image: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
}

#about-us .design .button:hover a {
  color: white;
  text-decoration: none;
}

#about-us .design .image3 {
  text-align: center;
}

#about-us .design .image3 img {
  max-width: 85%;
}

.report {
  margin-left: 57px;
  margin-right: 106px;
  margin-top: 85px;
}

.report .row {
  padding: 50px;
  background: #ffffff;
  border-top: 3px solid #437eeb;
  -webkit-box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
          box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
}

.report .row .main {
  max-width: 44%;
}

.report .row .main h3 {
  padding-bottom: 27px;
}

.report .row .main p {
  color: #949090;
  margin-bottom: 50px;
}

.report .row .main .button {
  border: 1px solid #e7e7e7;
  color: #437eeb;
  padding: 16px 35px;
  border-radius: 33px;
  margin-bottom: 9px;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
  width: 60%;
}

.report .row .main .button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background-image: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
}

.report .row .main .button:hover a {
  text-decoration: none;
  color: white;
}

.report .row .main a i {
  padding-right: 4px;
}

.report .image3 {
  text-align: center;
}

.report .image3 img {
  max-width: 85%;
}

/*main section 4*/
#data-visual {
  background-image: url("/assets/img/map.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f6f6ff;
}

#data-visual .peoplecount .projects .timer {
  display: block;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  margin-top: -5px;
  margin-bottom: 15px;
  color: #232323;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, right top, from(#031941), to(#437eeb));
  background: linear-gradient(90deg, #031941 0%, #437eeb 100%);
  -webkit-background-clip: text;
}

#data-visual .peoplecount .projects span {
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: -5px;
  color: #232323;
}

/*main section 5*/
#solutions {
  background-image: -webkit-gradient(linear, left top, right top, from(#f6f6ff), color-stop(5%, #f6f6ff), color-stop(6%, white), to(white));
  background-image: linear-gradient(to right, #f6f6ff 0%, #f6f6ff 5%, white 6%, white 100%);
}

#solutions .shape-fixed {
  border: 1px solid #f6f6ff;
  margin-left: 71px;
}

#solutions .heading-left h2 {
  margin-top: -175px;
  font-weight: 700;
  font-size: 36px;
  color: #232323;
  line-height: 1.2;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0;
  font-size: 29px;
  width: 75%;
  line-height: 1.3;
}

#solutions .heading-left p {
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  margin-top: -195px;
}

#solutions .heading-left .solu-btn {
  border: 1px solid #e7e7e7;
  background-image: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background-image: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
  padding: 16px 35px;
  border-radius: 33px;
  margin-bottom: 9px;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
  width: 40%;
}

#solutions .heading-left .solu-btn a {
  color: white;
  font-weight: bold;
}

#solutions .heading-left .solu-btn a i {
  border: 1px dotted white;
  padding: 2px;
  border-radius: 50%;
  background-color: transparent;
}

#solutions .solu-btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#437eeb), to(#1e55bd));
  background-image: linear-gradient(90deg, #437eeb 0%, #1e55bd 100%);
}

.services .item {
  -webkit-box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
          box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
  padding: 50px 30px;
  background: #ffffff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
}

.services .item img {
  width: 39%;
  height: auto;
  margin-bottom: 40px;
  min-height: 100px;
}

.services .item h4 {
  top: 37%;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #464444;
}

.services .item p {
  color: black;
  line-height: 28px;
  margin: 0 0 15px;
  font-weight: 500;
  padding-right: 66px;
  padding-top: 20px;
}

.services .item .btn {
  border: 1px solid #e7e7e7;
  padding: 16px 35px;
  border-radius: 33px;
  margin-bottom: 9px;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
  width: 70%;
}

.services .item .btn a {
  text-decoration: none;
}

.services .item:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background-image: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
}

.services .item:hover h4, .services a, .services p {
  color: white;
}

.button {
  border: 1px solid #e7e7e7;
  color: #437eeb;
  padding: 16px 35px;
  border-radius: 33px;
  margin-bottom: 9px;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: 600;
  width: 20%;
}

.button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background-image: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
}

.button:hover a {
  color: white;
  text-decoration: none;
}

.button:hover a .button:hover i {
  color: white;
}

.unfixed-top {
  border-bottom: 0.5px solid #6789bd;
}

.unfixed-top .header .home p, .unfixed-top .header .home i {
  color: white;
}

.unfixed-top .header .company p, .unfixed-top .header .company i {
  color: white;
}

.unfixed-top .header .services p, .unfixed-top .header .services i {
  color: white;
}

.unfixed-top .header .case-studies p, .unfixed-top .header .case-studies i {
  color: white;
}

.unfixed-top .header .blog p, .unfixed-top .header .blog i {
  color: white;
}

.unfixed-top .header .contact a {
  color: white;
}

.unfixed-top .search i {
  color: white;
}

/*blog standart*/
#head {
  background-color: #1e55bd;
  background-image: url("/assets/img/1.png");
  background-repeat: no-repeat;
}

#head .fixed-top {
  height: 82px;
}

.head-2 {
  padding-top: 120px;
}

.head-2 .blog h2 {
  color: white;
  font-weight: 700;
  text-align: center;
  margin-left: 286px;
  margin-bottom: 60px;
}

.head-2 .blog .bread {
  margin-left: 200px;
  margin-bottom: 112px;
}

.head-2 .blog .bread .item {
  color: white;
}

.head-2 .blog .bread .item i {
  color: white;
}

.head-2 .blog .bread .item a {
  color: white;
}

/*main section-1*/
#card1 .cardimage {
  margin-top: 105px;
}

#card1 .cardimage .card {
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}

#card1 .cardimage .carddate {
  position: absolute;
  top: 50%;
  left: 3%;
  text-align: center;
  background: #ffffff;
  padding: 15px 30px;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 27px;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
  border-radius: 5px;
}

#card1 .cardimage .card-body {
  margin-top: 82px;
  margin-left: 26px;
  margin-bottom: 30px;
}

#card1 .cardimage .card-body i {
  margin-right: 5px;
  color: #437eeb;
}

#card1 .cardimage .card-body span {
  color: #666666;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

#card1 .cardimage .card-body h5 {
  font-size: 1.5rem;
  padding-top: 29px;
  line-height: 1.3;
}

#card1 .cardimage .card-body p {
  color: #666666;
  line-height: 28px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
}

/*next-prev section*/
#next-prev .letters .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#next-prev .letters .pagination .page-item a {
  padding: 15px 20px;
  margin: 5px;
  margin-bottom: 0;
  border-radius: 10px;
}

#next-prev .letters .pagination .page-item a i {
  color: #007bff;
}

/*footer section*/
#footer {
  background-image: url(assets/img/shape/1.svg);
}

#footer .last .anada .image img {
  margin-top: 57px;
  margin-bottom: 32px;
}

#footer .last .anada p {
  margin-bottom: 187px;
  color: #cccccc;
}

#footer .last .useful-link h4 {
  margin-top: 63px;
  margin-bottom: 20px;
  color: #cccccc;
}

#footer .last .useful-link ul {
  display: contents;
}

#footer .last .useful-link ul li {
  margin-bottom: 8px;
  color: #cccccc;
}

#footer .last .services h4 {
  margin-top: 63px;
  margin-bottom: 20px;
  color: #cccccc;
}

#footer .last .services ul {
  display: contents;
}

#footer .last .services ul li {
  margin-bottom: 8px;
  color: #cccccc;
}

#footer .last .services ul li a {
  color: #cccccc;
}

#footer .last .info h4 {
  margin-top: 63px;
  margin-bottom: 20px;
  color: #cccccc;
}

#footer .last .info p {
  color: #cccccc;
}

#footer .last .info .adres ul {
  display: contents;
}

#footer .last .info .adres ul li {
  margin-bottom: 12px;
}

#footer .last .info .adres ul li strong {
  color: #cccccc;
}

#footer .last .info .sosial {
  margin-top: 49px;
  margin-right: 105px;
}

#footer .last .info .sosial .facebook i {
  background: #3B5998 none repeat scroll 0 0;
  color: white;
  padding: 11px;
  border-radius: 9px;
}

#footer .last .info .sosial .twitter i {
  background: #1DA1F2 none repeat scroll 0 0;
  color: white;
  padding: 11px;
  border-radius: 9px;
}

#footer .last .info .sosial .instagram i {
  background: #710b27 none repeat scroll 0 0;
  color: white;
  padding: 11px;
  border-radius: 9px;
}

#footer .last .info .sosial .youtube i {
  background: #cd201f none repeat scroll 0 0;
  color: white;
  padding: 11px;
  border-radius: 9px;
}

.fixed-top {
  background-image: -webkit-gradient(linear, left top, right top, from(#437deb), color-stop(21%, #437deb), color-stop(21%, white), to(white));
  background-image: linear-gradient(to right, #437deb 0%, #437deb 21%, white 21%, white 100%);
  font-family: "Nunito", sans-serif;
  display: fixed;
  height: 82px;
}

.fixed-top .header .home p, .fixed-top .header .home i {
  color: #437deb;
}

.fixed-top .header .company p, .fixed-top .header .company i {
  color: #437deb;
}

.fixed-top .header .services p, .fixed-top .header .services i {
  color: #437deb;
}

.fixed-top .header .case-studies p, .fixed-top .header .case-studies i {
  color: #437deb;
}

.fixed-top .header .blog p, .fixed-top .header .blog i {
  color: #437deb;
}

.fixed-top .header .contact a {
  color: #437deb;
}

.fixed-top .search i {
  color: #437deb;
}
/*# sourceMappingURL=style.css.map */