@media (max-width: 991.98px) {
    #systems{
        .system{
            text-align: center;
            .data{margin-bottom: 176px;
                .data-science {
                    h6{font-size: 25px;
                        
                    }
                    h2{font-size: 32px;

                    }
                    span{font-size: 10px;

                    }
                    
                }
            }
            .image{
                        display: none;
                    }

        }
    }
}
#analysis{
    .analis{
        .row{
            .col-lg-8{
                .karusele{
                    .karusel{
                        .item{margin-right: 27px;
                            margin-left: -4px;
                            .icon{
                                i{font-size: 41px;
                                    margin-left: 111px;
                                }
                            }
                            h3{font-size: 20px;}
                            p{font-size: 7px;
                            }
                            .bottom{
                                a{
                                    i{}
                                }
                       }  }  }   }  } } }}
 #about-us{
     .row{
         .about{
             h4{font-size: 15px;}
             h2{font-size: 15px;}
             p{font-size: 6px;}
         }
     }
 }                      