.unfixed-top{
    border-bottom: 0.5px solid rgb(103, 137, 189);

    .header{
        
        .home{
            p,i{color: white;

            } }
        .company{
            p,i{color: white;

            }
        }
        .services{
            p,i{color: white;

        }

        }
        .case-studies{
            p,i{color: white;}

        }
        .blog{
            p,i{color: white;

            }

        }
        .contact{
            a{color: white;

            }

        }
    }
    .search{
        i{
            color: white;
        }
    }
}