/*colors*/ 
$primary-color:rgba(30,85,189,1);
$secondary-color:rgba(67,125,235,1);
$black-color:#464444;
$background-color:#f4f7fc;
$background-color2: #f6f6ff;
$background-image:linear-gradient(90deg, rgba(30,85,189,1) 0%, rgba(67,126,235,1) 100%);
$background-image1:linear-gradient(90deg, rgba(67,126,235,1) 0%, rgba(30,85,189,1) 100%);


/*font-sizes*/



/*font-family*/
$primary-font:'Nunito', sans-serif;
